@import 'node_modules/rsuite/styles/index.less';
@enable-css-reset: false;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-color bg-cover bg-image w-screen h-screen;
  font-family: 'Inter', sans-serif;
  color: black;
}

.input {
  --rs-input-bg: transparent;

  .fail {
    @apply border-error box-border;
    border-width: 1px;
    border-style: solid;

    &-span {
      @apply text-3 h-0 font-medium text-error ml-2 translate-y-1;
    }
  }

  .rs-btn,
  .rs-picker-default .rs-picker-toggle.rs-btn {
    @apply rounded-sm border-none;
    padding: .875rem;
    padding-top: .625rem;
    padding-bottom: .625rem;
  }

  .rs-picker-toggle-textbox {
    @apply hidden;
  }

  .rs-picker-date .rs-picker-toggle.rs-btn .rs-picker-toggle-clean, .rs-picker-daterange .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    @apply hidden;
  }

  .rs-input-number-btn-group-vertical {
    @apply hidden;
  }

  .rs-input-group .rs-input-number .rs-input {
  @apply text-paragraph font-semibold tracking p-3;
    font-size: .875rem;
    line-height: .875rem;
  }

  &.rs-picker-toggle-wrapper .rs-picker-toggle .rs-btn .rs-btn-default, .rs-stack-item {
    @apply text-paragraph text-3 leading-3 font-semibold tracking;
  }

  input,
  textarea,
  .rs-input-group,
  .rs-picker-toggle-placeholder,
  .rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    @apply text-paragraph text-3 leading-3 font-semibold tracking-normal border-none;
  }

  .rs-picker-select {
    &.rs-picker-has-value.rs-picker-cleanable .rs-picker-toggle.rs-btn,
    &.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn {
      @apply pr-6 pl-8 h-full flex min-w-0 rounded-bl-none rounded-tl-none border-none border-l-outline;
      border-left-style: solid;
      border-left-width: 1px;
    }

    &.rs-picker-toggle-wrapper .rs-picker-toggle.rs-btn .rs-picker-toggle-caret {
      @apply left-2 right-auto text-paragraph h-4 w-4;
      stroke-width: 1px;
      top: .75rem;
    }

    &.rs-picker-toggle-wrapper .rs-picker-toggle-clean {
    @apply hidden;
    }

    &.rs-picker-default .rs-btn, .rs-picker-input .rs-btn, .rs-picker-default .rs-picker-toggle, .rs-picker-input .rs-picker-toggle {
    @apply bg-transparent;
    }

    &.rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
      @apply text-black font-semibold text-4 tracking-tight;
    }
  }

  .rs-picker-toggle .rs-picker-toggle-placeholder {
    @apply text-placeholder;
  }

}

.input-selector {
  width: 245px;
  height: 203px;

  .rs-picker-search-bar {
    padding: .625rem 1rem;
    margin-bottom: 2px;

    .rs-picker-search-bar-input {
      @apply bg-search-token text-black/80 tracking-tight leading-4 font-medium rounded px-3 py-4 border-none;

      &::placeholder {
        @apply text-black;
      }
    }

    &-search-icon {
    @apply hidden;
    }
  }

  .rs-picker-select-menu.rs-picker-select-menu-items {
    @apply flex flex-col gap-1;
    div {
      @apply px-2;
    }

    .rs-picker-select-menu-item{
      @apply px-2 py-2 text-paragraph font-semibold text-4 leading-5 bg-transparent;

      &:hover {
        @apply rounded-sm bg-search-token bg-search-token;
      }

      &-active {
        @apply font-bold text-black;
      }
    }
  }
}